html {
  font-family: 'Cinzel Decorative', cursive;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
.body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: rgb(66, 66, 66);
  /* background-image: url("Img/25.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  padding: 0px 0px 100px 0px;
}
@media screen and (max-width: 800px) {
  .body {
    overflow-x: scroll;
  }
}

button {
  font-family: 'Cinzel Decorative', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}